body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-grow: 1;
}

header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

form {
    padding: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2c3e50;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

ul li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    word-wrap: break-word;
}

ul li.completed {
    text-decoration: line-through;
    color: #888;
}
